{include file="index/head" /}
		<div class="admin-main">

			<fieldset class="layui-elem-field">
				<legend style="width: 100px">登录日志</legend>

				<div class="layui-tab-brief" lay-filter="docDemoTabBrief">
					<ul class="layui-tab-title">
						<li class="layui-this"><a href="{:url('loginlog/showlist')}">登录日志列表</a></li>
					</ul>
				</div> 


				<div class="layui-field-box layui-form">
					<table class="layui-table admin-table" style="margin: 0">
						<thead>
							<tr>
								<th width="40"></th>
								<th>ID</th>	
								<th>管理员昵称</th>
								<th>IP</th>
								<th>登录时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="content">
							{if condition="$adminController->vif('loginlog','del')"}<form method="POST" action="del/">{/if}
								{volist name="list" id="v"}
								<tr>
									<td><input type="checkbox" name="id[]" lay-skin="primary" value="{$v.l_id}"></td>
									<td>{$v.l_id}</td>
									<td>{$v.m_nice}</td>
									<td>{$v.l_ip}</td>
									<td>{$v.l_time|date="Y-m-d H:i:s",###}</td>
									<td>
										{if condition="$adminController->vif('loginlog','del')"}<a class="layui-btn layui-btn-danger layui-btn-mini" onclick="return confirm('真的要删除吗?')" href="del/id/{$v.l_id}">删除</a>{/if}
									</td>
								</tr>
								{/volist}
							{if condition="$adminController->vif('loginlog','del')"}
							<tr>
								<td></td>
								<td colspan="5">
									<button	class="layui-btn layui-btn-small layui-btn-normal">删除</button>
								</td>
							</tr>
							</form>
							{/if}
						</tbody>
					</table>
					{$page}
				</div>
			</fieldset>
		</div>

</body>
<script>
//Demo
layui.use('form', function(){
  var form = layui.form();
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});
</script>
</html>