{include file="index/head" /}
{include file="manager/jscss" /}

		<div class="admin-main">

			<fieldset class="layui-elem-field" style="border-bottom: 0px;">
				<legend style="width: 80px">管理员</legend>

				<div class="layui-tab-brief" lay-filter="docDemoTabBrief">
					<ul class="layui-tab-title">
						<li><a href="{:url('manager/showlist')}">管理员列表</a></li>
						<li class="layui-this"><a href="{:url('manager/add')}">新增管理员</a></li>
					</ul>
				</div> 

				<div class="layui-field-box layui-form gw" style="width: 300px;float: left;height: 553px;overflow-y: auto; border: 1px solid #ccc;">
					<ul id="demo"></ul>
				</div>
				<div class="layui-field-box layui-form gw" style="width: 300px;float: left;height: 553px;overflow-y: auto; border: 1px solid #ccc;">
					<ul id="demo2"></ul>
				</div>

				<div class="layui-field-box layui-form" style="position: absolute;left: 600px; width: 500px;float: left;height: 553px;padding: 30px 0 0 30px;">
					
					<div class="layui-form-item gw">
						<label class="layui-form-label" style="width:100px">组织 - 岗位</label>
						<div class="layui-input-block" id="title-1" style="margin-left: 10px; line-height: 36px;float: left">未选择</div>
						<div class="layui-input-block" id="title-1" style="margin: 0; width:30px; line-height: 36px;float: left;text-align: center;">-</div>
						<div class="layui-input-block" id="title-2" style="margin: 0; line-height: 36px;float: left">未选择</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label" style="width:100px;">昵称</label>
						<div class="layui-input-block">
							<input class="layui-input" lay-verify="controller" type="text" id="nice" value="">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label" style="width:100px;">用户名</label>
						<div class="layui-input-block">
							<input class="layui-input" lay-verify="controller" type="text" id="name" value="">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label" style="width:100px;">密码</label>
						<div class="layui-input-block">
							<input class="layui-input" lay-verify="controller" type="password" id="pwd" value="">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label" style="width:100px;">手机号</label>
						<div class="layui-input-block">
							<input class="layui-input" lay-verify="controller" type="text" id="phone" value="">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label" style="width:100px;">状态</label>
						<div class="layui-input-block">
						<input type="radio" name="status" value="1" title="开启" checked>
						<input type="radio" name="status" value="2" title="禁用">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label" style="width:100px;">超级管理员</label>
						<div class="layui-input-block">
						<input type="radio" name="type" lay-filter="type" value="1" title="是">
						<input type="radio" name="type" lay-filter="type" value="2" title="否" checked>
						</div>
					</div>
					
					<div class="layui-form-item" id="q-1">
						<label class="layui-form-label" style="width: 100px">管辖区域:</label>
						<div class="layui-input-block">
							<style>.layui-form-switch{width:55px}.layui-form-switch{float: left}#myModal2 .layui-btn-normal {height: 22px;line-height: 22px;padding: 0px 10px;margin-top: 5px;}</style>
							<input type="checkbox" lay-skin="switch" lay-text="开|关" lay-filter="all_region_status" value="1" checked>
							<span style="display: block;width: 40px;float: left;margin-left: 10px;margin-top: 8px;">全国</span>
							<button type="button" class="layui-btn layui-btn-normal" id="open2" style="display: none; height: 30px;line-height: 30px;">选择区域</button>
						</div>
					</div>
					
					<div class="layui-form-item" id="q-2">
						<label class="layui-form-label" style="width: 120px">已管辖区域:</label>
						<div class="layui-input-block" id="my_area_list">
							
						</div>
					</div>
					

					<input type="hidden" id="pid" value="">
					<input type="hidden" id="quanguo" value="1">
					<input type="hidden" id="province_ids" value="" />
					<input type="hidden" id="city_ids" value="" />
					<input type="hidden" id="area_ids" value="" />
					
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button type="button" class="layui-btn model" id="upd_btn">新增</button>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="paged" class="page">
				</div>
			</div>
		</div>
		

<div id="mdialog2" style="display:none;padding: 15px;"> 
	<table>
		<tr><td colspan="2" style="padding-bottom:15px"><font color="red">说明：如果添加了省份，表示可以管辖该省份下包括的省级、市级和区级，如果添加市级表示可以管辖该市的市级和区域，如果添加区域只能管辖改区域级</font></td></tr>
		<tr style="height: 60px;"><td>选择加载区域：</td><td>
			<select name="province" id="province_list" onchange="getCity(this.value);" style="height: 30px;"><option value="1">选择省份</option></select>
			<select name="region" id="region_list" onchange="getArea(this.value);" style="height: 30px;"><option value="">选择城市</option></select>
		</td></tr>
		<tr><td width="100px">确认添加区域：</td><td id="area_list">
			</td></tr>
	</table>
</div>

<script type="text/javascript">

layui.use(['form','tree', 'layer'], function(){
	var layer = layui.layer,$ = layui.jquery, form = layui.form(); 
	// 切换全国管理权限
	form.on("switch(all_region_status)", function(data){
		var value = this.checked ? true : false;
		if(value == true){
			$('.layui-btn-normal').css('display','none');
			$('#quanguo').val(1);
		}else{
			$('.layui-btn-normal').css('display','block');
			$('#quanguo').val('');
		}
	}); 
	// 打开选择区域
	$("#open2").click(function(){
		layer.open({
			type: 1, 
			area: ['620px', '440px'], //宽高
			content: $('#mdialog2')
		});
	});
	
	form.on('radio(type)', function(data){
		// 超级管理员
		if (data.value == 1 ){
			$('.gw').css('display', 'none');
			$('#quanguo').val(1);
			$('#q-1').css('display','none');
			$('#q-2').css('display','none');
		}else{
			$('.gw').css('display', 'block');
			$('#q-1').css('display','block');
			$('#q-2').css('display','block');
		}
	});        

	// 组织节点树
	layui.tree({
		elem: '#demo' //指定元素
		,target: '_blank' 
		,click: function(item){ //点击节点回调
			var id   = item.id;
			var name = item.name;
			$('#title-1').html(name);

			$.ajax({
				type: 'post',
				data:{'id':id, 'type':1},
				url: "{:url('manager/add')}",
				success: function(data) {
					$('#demo2').html('');
					if (data!=0) {
						// Json必须转obj才行
						data = eval('(' + data + ')');

						// 组织节点树
						layui.tree({
							elem: '#demo2' //指定元素
							,target: '_blank' 
							,click: function(item){
								var id   = item.id;
								var name = item.name;
								$('#title-2').html(name);
								$('#pid').val(id);
							}
							,nodes: data //节点
						});
					}
				}
			});
		}
		,nodes: {$json} //节点
	});
});

// 新增
$("#upd_btn").click(function(){
	var nice   = $('#nice').val();
	var name   = $('#name').val();
	var pwd    = $('#pwd').val();
	var pid    = $('#pid').val();
	var phone  = $('#phone').val();
	var type   = $('input[name="type"]:checked').val();
	var status = $('input[name="status"]:checked').val();
	var quanguo      = $('#quanguo').val();		// 是否拥有全国权限
	var province_ids = $('#province_ids').val();// 省级权限
	var city_ids     = $('#city_ids').val();	// 市级权限
	var area_ids     = $('#area_ids').val();	// 区级权限

	// 精确判断可自行添加
	if (name == '' || pwd == '') {return false;}

	if (type == 1) {pid = 0;} // 将岗位ID改为超级管理员
	var data   = {'nice':nice, 'name':name, 'pwd':pwd, 'pid':pid, 'phone':phone, 'status':status, 'nationwide':quanguo, 'province_ids':province_ids, 'city_ids':city_ids, 'area_ids':area_ids, 'type':2};

	$.ajax({
		type: 'post',
		data:data,
		url: "{:url('manager/add')}",
		success: function(data) {
			var array = $.parseJSON(data);
			if(array.code == '01'){
				layer.tips(array.msg, '#upd_btn', {tips: [4, 'red']});
			}else{
				layer.tips(array.msg, '#upd_btn', {tips: [2, '#78BA32']});
				setTimeout(function(){window.location.reload();},1000); 
			}
		}
	});
});

</script>

</body>
</html>