{include file="index/head" /}
		<div class="admin-main">

			<fieldset class="layui-elem-field">
				<legend style="width: 100px">管理员</legend>

				<div class="layui-tab-brief" lay-filter="docDemoTabBrief">
					<ul class="layui-tab-title">
						<li class="layui-this"><a href="{:url('manager/showlist')}">管理员列表</a></li>
						{if condition="$adminController->vif('manager','add')"}<li><a href="{:url('manager/add')}">新增管理员</a></li>{/if}
					</ul>
				</div> 

				<div class="layui-field-box layui-form" style="width: 370px;float: left;height: 553px;overflow-y: auto; border: 1px solid #ccc;">
					<ul id="demo"></ul>
				</div>

				<div class="layui-field-box layui-form" style="width: 69%;float: right;height: 553px;overflow-y: auto; padding: 0">
					<table class="layui-table admin-table" style="margin: 0">
						<thead>
							<tr>
								<th>ID</th>	
								<th>昵称</th>
								<th>用户名</th>
								<th>所属组织</th>
								<th>所属岗位</th>
								<th>手机号</th>
								<th>状态</th>
								<th>注册日期</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="content">
							{volist name="list" id="v"}
							<tr>
								<td>{$v.m_id}</td>
								<td>{$v.m_nice}</td>
								<td>{$v.m_name}</td>
								<td>{$v.s_id}</td>
								<td>{$v.j_id}</td>
								<td>{$v.m_phone}</td>
								<td>
									{switch $v.m_status}
										{case 1}开启{/case}
										{case 2}禁用{/case}
									{/switch}
								</td>
								<td>{$v.m_time|date="Y-m-d H:i:s",###}</td>
								<td>
									{if condition="$adminController->vif('manager','upd')"}<a class='layui-btn layui-btn-mini' href="upd/id/{$v.m_id}">编辑</a>{/if}
									{if condition="$adminController->vif('manager','del')"}<a class="layui-btn layui-btn-danger layui-btn-mini" onclick="return confirm('真的要删除吗?')" href="del/id/{$v.m_id}">删除</a>{/if}
								</td>
							</tr>
							{/volist}
						</tbody>
						{$page}
					</table>
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="paged" class="page">
				</div>
			</div>
		</div>

<script type="text/javascript">
layui.use(['tree', 'layer'], function(){
	var layer = layui.layer,$ = layui.jquery; 
	// 地区节点树
	layui.tree({
		elem: '#demo' //指定元素
		,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
		,click: function(item){ //点击节点回调
		var id   = item.id;
		var name = item.name;

		$.ajax({
			type: 'post',
			data:{'id':id},
			url: "{:url('manager/showlist')}",
			success: function(data) {
				var array = eval(data);
				var html = '';
				for(var i=0; i<array.length; i++){
					html += "<tr>";
					html += "<td>"+array[i]['m_id']+"</td>";
					html += "<td>"+array[i]['m_nice']+"</td>";
					html += "<td>"+array[i]['m_name']+"</td>";
					html += "<td>"+array[i]['s_id']+"</td>";
					html += "<td>"+array[i]['j_id']+"</td>";
					html += "<td>"+array[i]['m_phone']+"</td>";
					html += "<td>"+array[i]['m_status']+"</td>";
					html += "<td>"+array[i]['m_time']+"</td>";
					html += "<td>";
					{if condition="$adminController->vif('manager','upd')"}html += "<a class='layui-btn layui-btn-mini' href='upd/id/"+array[i]['m_id']+"'>编辑</a>";{/if}
					{if condition="$adminController->vif('manager','del')"}html += '<a class="layui-btn layui-btn-danger layui-btn-mini" onclick="return confirm('+"'真的要删除此信息吗?'"+')" href="del/id/'+array[i]['m_id']+'">删除</a>';{/if}
					html += "</td>";
					html += "</tr>";
				}
				$('#content').html(html);
			}
		});

		console.log(item);
		}
		,nodes: {$json} //节点
	});
});
</script>

</body>
</html>