{include file="index/head" /}

		<!-- 添加需要的参数 -->
		<input type="hidden" id="str_name" value="">
		<input type="hidden" id="str_id" value="">
		<input type="hidden" id="role_name" value="">
		<input type="hidden" id="role_id" value="">
	
		<div class="admin-main">

			<fieldset class="layui-elem-field">
				<legend style="width: 100px">菜单管理</legend>

				<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
					<ul class="layui-tab-title">
						<li class="layui-this"><a href="{:url('menu/showlist')}">菜单列表</a></li>
						{if condition="$adminController->vif('menu','add')"}<li><a href="{:url('menu/add')}">新增一级菜单</a></li>{/if}
					</ul>
				</div> 

				<div class="layui-field-box layui-form" style="width: 370px;float: left;height: 553px;overflow-y: auto; border: 1px solid #ccc;">
					<ul id="demo"></ul>
				</div>

				<div class="layui-field-box layui-form" style="width: 69%;float: right;height: 553px;overflow-y: auto; padding: 0">
					<table class="layui-table admin-table" style="margin: 0">
						<thead>
							<tr>
								<th width="40">ICON</th>
								<th width="200">菜单名称</th>
								<th>路由</th>
								<th width="150">权限</th>
								<th width="60">状态</th>
								<th width="100">请求类型</th>
								<th width="200">操作</th>
							</tr>
						</thead>
						<tbody id="content">
							{volist name="list" id="v"}
							<tr>
								<td><i class="icon {$v.m_icon}"></td>
								<td>{$v.m_name}</td>
								<td>
									{if condition="empty($v['m_controller'])"}
										无
									{else /}
										{$v.m_controller}/{$v.m_action}
									{/if}
								</td>
								<td>
									{switch $v.m_type}
										{case 1}权限认证+菜单{/case}
										{case 2}只作为菜单{/case}
									{/switch}
								</td>
								<td>
									{switch $v.m_display}
										{case 1}开启{/case}
										{case 2}关闭{/case}
									{/switch}
								</td>
								<td>
									{if condition="empty($v['m_request'])"}
										不限
									{else /}
										{$v.m_request}
									{/if}
								</td>
								<td>
									{if condition="$adminController->vif('menu','add')"}<a class='layui-btn layui-btn-mini' href="add/pid/{$v.m_id}">添加子菜单</a>{/if}
									{if condition="$adminController->vif('menu','upd')"}<a class='layui-btn layui-btn-mini' href="upd/id/{$v.m_id}">编辑</a>{/if}
									{if condition="$adminController->vif('menu','del')"}<a class="layui-btn layui-btn-danger layui-btn-mini" onclick="return confirm('真的要删除吗?')" href="del/id/{$v.m_id}">删除</a>{/if}
								</td>
							</tr>
							{/volist}
						</tbody>
					</table>
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="paged" class="page">
				</div>
			</div>
		</div>

<script type="text/javascript">
layui.use(['tree', 'layer'], function(){
	var layer = layui.layer,$ = layui.jquery; 
	// 地区节点树
	layui.tree({
		elem: '#demo' //指定元素
		,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
		,click: function(item){ //点击节点回调
		var id   = item.id;
		var name = item.name;

		$.ajax({
			type: 'post',
			data:{'id':id},
			url: "{:url('menu/showlist')}",
			success: function(data) {
				var array = eval(data);
				var html = '';
				for(var i=0; i<array.length; i++){
					html += "<tr>";
					
					html += "<td><i class='icon "+array[i]['m_icon']+"'></td>";
					html += "<td>"+array[i]['m_name']+"</td>";
					if (array[i]['m_controller'] == ''){
						html += "<td>无</td>";
					}else{
						html += "<td>"+array[i]['m_controller']+"/"+array[i]['m_action']+"</td>";
					}
					if (array[i]['m_type'] == 1){
						html += "<td>权限认证+菜单</td>";
					}else {
						html += "<td>只作为菜单</td>";
					}
					if (array[i]['m_display'] == 1){
						html += "<td>开启</td>";
					}else {
						html += "<td>关闭</td>";
					}
					if (array[i]['m_request'] == 0){
						html += "<td>不限</td>";
					}else{
						html += "<td>"+array[i]['m_request']+"</td>";
					}
					html += "<td>";
					{if condition="$adminController->vif('menu','add')"}html += "<a class='layui-btn layui-btn-mini' href='add/pid/"+array[i]['m_id']+"'>添加子菜单</a>";{/if}
					{if condition="$adminController->vif('menu','upd')"}html += "<a class='layui-btn layui-btn-mini' href='upd/id/"+array[i]['m_id']+"'>编辑</a>";{/if}
					{if condition="$adminController->vif('menu','del')"}html += '<a class="layui-btn layui-btn-danger layui-btn-mini" onclick="return confirm('+"'真的要删除此信息吗?'"+')" href="del/id/'+array[i]['m_id']+'">删除</a>';{/if}
					html += "</td>";
					html += "</tr>";
				}
				$('#content').html(html);
			}
		});

		console.log(item);
		}
		,nodes: {$json} //节点
	});
});
</script>

</body>
</html>