<!--  内容界面  -->
<div id="content" class="app-content" role="main">
    <div class="layui-tab layui-tab-brief admin-nav-card"
            style="border-top:none;margin-top:0px" lay-filter="admin-tab">
        <ul class="layui-tab-title" id="admin-tab">
            <li class="layui-this"><i class="fa fa-home"></i> <span>主  页</span></li>
        </ul>
        <div class="layui-tab-content" style="height: 150px;" id="admin-tab-container">
            <div class="layui-tab-item layui-show">    
                <iframe src="{:url('index/main')}"></iframe>
            </div>
        </div>
        </div>
</div>
<!-- /内容界面 -->