<!-- 左边导航栏  -->
<aside id="aside" class="app-aside hidden-xs bg-dark">
    <div class="aside-wrap">
        <div class="navi-wrap">                
            <!-- 导航栏选项  -->
            <nav ui-nav class="navi clearfix" id="jun_nav" style="">
                <ul class="nav">
                    {volist name="admin_menu" id="v"}
                        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs"><span>{$v.m_name}</span></li>
                        {volist name="$v['menu']" id="vv"}
                            <li>
                                <a href="" class="auto">
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i><i class="fa fa-fw fa-angle-down text-active"></i></span>
                                    <i class="icon {$vv.m_icon}"></i>
                                    <span>{$vv.m_name}</span>
                                </a>

                                <ul class="nav nav-sub dk">                               
                                    {volist name="$vv['menu']" id="vvv"}
                                        <li><a href="javascript:;" data-url="{:url($vvv['m_controller'].'/'.$vvv['m_action'])}"><span><key>{$vvv.m_name}</key></span></a></li>
                                    {/volist}
                                </ul>
                            </li>
                        {/volist}
                    {/volist}


                </ul>
            </nav>
            <!-- /导航栏选项 -->
        </div>
    </div>
</aside>
<!-- / 左边导航栏 -->