{include file="index/head" /}
<style>
	.layui-collapse{width: 30%; float: left; margin-right: 3%}
</style>
<div class="admin-main">
	<blockquote class="layui-elem-quote" style="font-size: 14px">友情提示：经常查看系统日志，发现异常以便及时追查原因。</blockquote>

	<div style="width: 100%">
		<div class="layui-collapse">
			<div class="layui-colla-item">
				<h2 class="layui-colla-title">系统环境</h2>
				<div class="layui-colla-content layui-show">
				<p>
					PHP版本：{:PHP_VERSION}<br>
					MYSQL版本：{:get_mysql_server()}<br>
					PHP运行方式：{:php_sapi_name()}<br>
					服务器IP：{:$_SERVER['SERVER_NAME']}<br>
					ThinkPHP版本：V5.0.11<br>
					Layui版本：V1.0.9<br>
				</p>
				</div>
			</div>
		</div>

		<div class="layui-collapse">
			<div class="layui-colla-item">
				<h2 class="layui-colla-title">官方信息</h2>
				<div class="layui-colla-content layui-show">
				<p>
					JunThink版本：V1.0.0.3<br/>
					官方QQ交流群：368405253<br/>
					作者：小黄牛<br/>
					官网地址：<a href="http://www.junphp.com/think/">www.junphp.com/think/</a><br/>
					<br/>
					<br/>
				</p>
				</div>
			</div>
		</div>

		<div class="layui-collapse">
			<div class="layui-colla-item">
				<h2 class="layui-colla-title">本次更新内容</h2>
				<div class="layui-colla-content layui-show">
				<p>
					+ 1、修改已知BUG：操作日志在详情页内点击清空后，返回上一页报错<br/>
					+ 2、修改已知BUG：主页框架TAB切换点击删除无效<br/>
					+ 3、修改已知BUG：1366PX下，CSS：菜单列表、管理员列表不对齐<br/>
					+ 4、新增功能：判断权限时，过滤菜单请求类型<br/>
					+ 5、新增功能：添加管理员时，新增地区授权功能<br/>
					+ 6、新增功能：管理员列表新增详情预览功能<br/>
					+ 7、新增方法：$this->regionVif(地区ID); 验证当前管理员地区权限<br/>
					+ 8、新增方法：$this->regionGet(); 获取当前管理员地区权限<br/>
					+ 9、新增数据：地区表新增区级数据<br/>
					+ 10、新增字段：jun_manager 表新增4个字段：m_nationwide、m_province、m_city、m_area
					<br/>
				</p>
				</div>
			</div>
		</div>


	</div>
	
	

</div>

<script>
layui.use('element', function(){
  var element = layui.element();
});
</script>

</body>
</html>