{include file="index/head" /}
		<div class="admin-main">

			<fieldset class="layui-elem-field">
				<legend style="width: 100px">岗位管理</legend>

				<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
					<ul class="layui-tab-title">
						<li class="layui-this"><a href="{:url('job/showlist')}">岗位列表</a></li>
						{if condition="$adminController->vif('job','add')"}<li><a href="{:url('job/add')}">新增岗位</a></li>{/if}
					</ul>
				</div> 

				<div class="layui-field-box layui-form" style="width: 370px;float: left;height: 553px;overflow-y: auto; border: 1px solid #ccc;">
					<ul id="demo"></ul>
				</div>

				<div class="layui-field-box layui-form" style="width: 59%;float: right;height: 553px;overflow-y: auto; padding: 0">
					<table class="layui-table admin-table" style="margin: 0">
						<thead>
							<tr>
								<th>ID</th>	
								<th>岗位名称</th>
								<th>所属组织</th>
								<th>关联角色</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="content">
							{volist name="list" id="v"}
							<tr>
								<td>{$v.j_id}</td>
								<td>{$v.j_name}</td>
								<td>{$v.s_name}</td>
								<td>
									{volist name="$v.r_id" id="k"}
										<div style="width: 33%; float: left">{$k.r_name}</div>
									{/volist}
								</td>
								<td>
									{if condition="$adminController->vif('job','upd')"}<a class='layui-btn layui-btn-mini' href="upd/id/{$v.j_id}">编辑</a>{/if}
									{if condition="$adminController->vif('job','del')"}<a class="layui-btn layui-btn-danger layui-btn-mini" onclick="return confirm('真的要删除吗?')" href="del/id/{$v.j_id}">删除</a>{/if}
								</td>
							</tr>
							{/volist}
						</tbody>
						{$page}
					</table>
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="paged" class="page">
				</div>
			</div>
		</div>

<script type="text/javascript">
layui.use(['tree', 'layer'], function(){
	var layer = layui.layer,$ = layui.jquery; 
	// 地区节点树
	layui.tree({
		elem: '#demo' //指定元素
		,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
		,click: function(item){ //点击节点回调
		var id   = item.id;
		var name = item.name;

		$.ajax({
			type: 'post',
			data:{'id':id},
			url: "{:url('job/showlist')}",
			success: function(data) {
				var array = eval(data);
				var html = '';
				for(var i=0; i<array.length; i++){
					html += "<tr>";
					html += "<td>"+array[i]['j_id']+"</td>";
					html += "<td>"+array[i]['j_name']+"</td>";
					html += "<td>"+array[i]['s_name']+"</td>";
					var arr = array[i]['r_id'];
					var txt = "<td>";
					for (var k=0; k<arr.length; k++) {
						txt += '<div style="width: 33%; float: left">'+arr[k]['r_name']+'</div>';
					}
					html += txt;
					html += "</td>";
					html += "<td>";
					{if condition="$adminController->vif('job','upd')"}html += "<a class='layui-btn layui-btn-mini' href='upd/id/"+array[i]['j_id']+"'>编辑</a>";{/if}
					{if condition="$adminController->vif('job','del')"}html += '<a class="layui-btn layui-btn-danger layui-btn-mini" onclick="return confirm('+"'真的要删除此信息吗?'"+')" href="del/id/'+array[i]['j_id']+'">删除</a>';{/if}
					html += "</td>";
					html += "</tr>";
				}
				$('#content').html(html);
			}
		});

		console.log(item);
		}
		,nodes: {$json} //节点
	});
});
</script>

</body>
</html>